<div class="sheet">
    <header>
        <div class="flex-container">
            <img
                src="{{img}}"
                alt="{{name}}"
                data-edit="img"
                data-action="editImage"
                title="{{name}}"
                height="100"
                width="100"
            />
            {{formField fields.name value=name}}
        </div>
    </header>
    <section>
        <!-- TODO skill sheet -->
    </section>
</div>